<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SummonerMatch</title>
    <link rel="icon" href="~/assets/logos/SummonerMatchIcon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SummonerMatch.styles.css" asp-append-version="true" />
</head>

<body class="m-0">
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg" style="background-color: #101014;">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand m-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/logos/SummonerMatchText.svg" alt="SummonerMatch"
                        height="20" />
                </a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
