@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 w-100 parallax-container"
     style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 13, 14, 1)), url('/assets/Images/HomeWallpaper.jpeg');
     background-size: cover; background-position: center;
     background-position: 50% 40%;">
    <div class="jumbotron text-center w-50 m-auto my-5 parallax-content">
        <h1 class="display-4 fw-bold mb-3 text-white">Desafía tus límites, conquista la cima!</h1>
        <p class="lead fw-normal mt-5">SummerMatch es tu plataforma para jugar y crear comunidad.</p>
    </div>
</div>
<div style="height: 3000px;"></div>