/*------------------------------------------------*/
/* CARD ------------------------------------------*/
/*------------------------------------------------*/
.card-partida {
    width: 525px;
    height: 230px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.tarjeta-contenido {
    width: 100%;
    height: 100%;
    position: relative;
}

.disponible {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.no-disponible {
    box-shadow: inset 0px 0 6px rgba(215, 11, 11, 0.8),
                inset 0px 0 20px rgba(215, 11, 11, 0.7);
}

/* Iconos posiciones (Top, Mid, Jungle, Adc, Support) */
.posicion {
    width: 1.8rem;
}

.posicion-on {
    filter: drop-shadow(0px 0px 12px rgba(255, 215, 0, 0.5));
}

.posicion-off {
    filter: grayscale(75%);
}

/* Botónes */
.BtnIniciarSesion {
    background-color: #26bbff;
    border-color: #26bbff;
    border-radius: 10px;
}

.BtnUnirse {
    background-color: #1BD70B;
    border-color: #1BD70B;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 12px rgba(44, 74, 36, 1));
}

.BtnLleno {
    background-color: #D70B0B;
    border-color: #D70B0B;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 12px rgba(215, 11, 11, 1));
}
